
/* mobile styles */
@media only screen and (max-width: 400px) {
	body {
		background-color: #F09A9D; /* red */
	}
}

/* tablet styles */
@media only screen and (min-width: 401px) and (max-width: 400px) {
	body {
		background-color: #F5CF8E; /* yellow */
	}
}

/* desktop styles */
@media only screen and (min-width: 961px) {
	body {
		background-color: #B2D6FF; /* blue */
	}
}


