* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* converts all boxes to border-box when used with universal selector */

	/* "universal: CSS selector (*) override default browser style */
}
body {
	color: #414141; /* dark gray */
	background-color: #EEEEEE /* light gray */
	font-size: 18px;
}
h1 {
	font-size: 2em; /* font is twice as big as paragraph font */
	padding: 50px;
	border-bottom: 1px solid #5D6063; /* border: size style color */
}
h2 {
	font-size: 1.6em; /* font is 1.6 times as big as paragraph font */
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica", "Arial", sans-serif;
}
ul {
	list-style-type: circle;
}
ol {
	list-style-type: lower-roman;
}
a {
	text-decoration: none; /* removes default underline from all our links */
}
/*Following is for box styles*/
h1, p {
	background-color: #DDE0E3; /* light gray */
}
em, strong {
	background-color: #B2D6FF; /* light blue */
}
p {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	/* can be re-written as (padding: <vertical> <horizontal>) */
	/* or: (padding: <top> <right> <bottom> <left> */
	margin-bottom: 50px;
}
div {
	color: #FFF;
	background-color: #5995DA;
	font-weight: bold;
	padding: 20px;
	text-align: center;
	border: 2px solid #5D6063;
	border-radius: 5px;
	
	width: 200px;
	box-sizing: border-box;
	margin: 20px auto; /* Vertical Horizontal */
}
