* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* converts all boxes to border-box when used with universal selector */

	/* "universal: CSS selector (*) override default browser style */
}
body {
	color: #7E8184; /* dark gray */
	background-color: #ffffff; /* white */
	font-size: 18px;
}
h1 {
	font-size: 2em; /* font is twice as big as paragraph font */
	padding: 50px;
	border-bottom: 1px solid #ffffff; /* border: size style color */
}
h2 {
	font-size: 1.6em; /* font is 1.6 times as big as paragraph font */
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica", "Arial", sans-serif;
}
ul {
	list-style-type: circle;
}
ol {
	list-style-type: lower-roman;
}
a {
	text-decoration: none; /* removes default underline from all our links */
}
em, strong {
	background-color: #B2D6FF; /* light blue */
}
p {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
	/* can be re-written as (padding: <vertical> <horizontal>) */
	/* or: (padding: <top> <right> <bottom> <left> */
}
.page {
	width: 900px;
	margin: 0 auto;
}
.container {
	overflow: hidden;
	background-color: #EAEDF0;
}
.button {
	color: #ffffff;
	background-color: #6495ED; /* cornflower blue */
	width: 200px;
	height: 100px;
	font-weight: bold;
	padding: 20px;
	text-align: center;
	margin: 0 auto;
	border: 1px solid #FFF;
}
.introduction {
	color: #ffffff; /* white */
}
.menu {
	position: fixed;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #B2D6FF;
	border-bottom: 2px solid #bbb;
}
.menu .menu-item {
	float: left;
}
.menu .menu-item .menu-button {
	display: block;
	padding: 8px;
	margin-right: 10px;
	font-weight: bold;
}
.sidebar {
	float: left;
	width: 200px;
	height: 300px;
	background-color: #F09A9D; /* red */
}
.content {
	float: left;
	width: 650px;
	height: 500px;
	padding: 20px;
	background-color: #F5CF8E; /* yellow */
}
.footer {
	overflow: hidden;
	clear: both;
	background-color: #D6E9FE; /* light blue */
}
.column {
	overflow: hidden;
	float:left;
	width: 31%;
	margin: 20px 1.15%;
	height: 160px;
	background-color: #B2D6FF; /* medium blue */	
}
.article-image {
	float: left;
	width: 300px;
	height: 200px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
}
.avatar {
	float: left;
	width: 60px;
	height: 60px;
	margin: 25px;
	border-radius: 40px;
	background-color: #D6E9FE;
}
.username {
	margin-top: 30px;
}
.comment {
	margin: 10px;
	overflow: hidden; /* This is important */
}
